{% extends 'base.html.twig' %}
  
{% block title %}Edit FoodProduct{% endblock %}
  
{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Edycja</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-info float-right" href="{{ path('app_food_product_index') }}"> 
                    Wszystkie produkty
                </a>
            </div>
            <div class="card-body">
                {% include 'food_product/_form.html.twig' with {'button_label': 'Zaktualizuj', 'button_color': 'btn-outline-success'}  %}
            </div>
        </div>
    </div>
{% endblock %}