{% extends 'base.html.twig' %}
  
{% block title %}New Project{% endblock %}
  
{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Dodaj nowy produkt</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-info float-right" href="{{ path('app_food_product_index') }}"> 
                    Wszystkie produkty
                </a>
            </div>
            <div class="card-body">
                 {{ include('food_product/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}